<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>

      {{{ body }}}

  </body>
</html>